.App {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styles */

.App button {
  width: 75%;
  margin: 1em;
  font-size: large;
  padding: 1em;
  color: white;
  font-weight: bold;
  border-radius: 4em;
}

/* .homePage {
  background-color: wheat;
} */

.homePage h1 {color: rgb(36, 157, 168);}
.homePage h2, .addTask h2 {color: rgb(55, 126, 126);}

.good {background-color: #5c94ed;}
.okay {background-color: indigo;}
.meh  {background-color: slateblue;}


.addTask {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.addTask form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.addTask textarea, .addTask select {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.addTask label {
  font-size: 1.5em;
}