.App {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Custom Styles */

.homePage button, .main button, .easy button, #tasks-to-home {
  width: 75%;
  margin: 1em;
  font-size: large;
  padding: 1em;
  color: white;
  font-weight: bold;
  border-radius: 4em;
}

/*HOME PAGE*/
.homePage h1, .easy h3 {color: rgb(36, 157, 168);}
.homePage h2, .addTask h2, .easy h1 {color: rgb(55, 126, 126);}
  /*home page buttons*/
.good {background-color: #5c94ed;}
.okay {background-color: indigo;}
.meh  {background-color: slateblue;}

/* MAIN PAGE */
.main h1 {
  color: indigo;
}
.main button, .tasks button, .easy button, #tasks-to-home { 
  background-color: #5c94ed; 
}

/*TASKS - GENERAL*/
.Tasks {
  margin: 1em auto 3em auto; 
  padding: 0em 1em;
}

.Tasks h1, .Tasks h2, #task-table th {
  color: indigo;
}
.Tasks h1 {
  margin-bottom: 1.5em;
}
.Tasks p {
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
}
/*TASK FORM*/
#add-task-heading h1 {
  padding-top: 2em;
}
#taskForm button {
  background-color: indigo;
  width: 100%;
}
#newTask {
  font-family: 'Poppins', sans-serif;
}
#taskForm h3 {
  font-size: 1.5em;
  color: indigo;
}
#taskForm #clear {
  background-color: slateblue;
  margin-top: .75em;
}
#tasks-to-home {
  width: 40%;
  margin-top: 2em;
  margin-bottom: 2em;
}
/*TASK TABLE*/
#task-table th, #task-table td {
  padding: 1em;
}

/*QUICK EASY*/
.easy h3, .easy h4 {
  text-align: left;
}
.easy h2 {
  color: rgb(36, 157, 168); 
  margin-top: 2em;
  margin-bottom: 2em;
}
.easy {
  padding: 1em 4em;
}
.easy li {
  text-align: left;
  list-style: none;
}
.easy h3 {
  margin-bottom: .25em;
}
.easy h4 {
  font-weight: normal;
  font-style: italic;
  margin-top: 0em;
  color: slateblue;
}
.easy p {
  text-align: left;
}
.easy h5 {
  text-align: left;
  font-weight: normal;
  font-size: 1em;
  color:slateblue;
}

.qe-icon div {
  display: inline-block;
  padding-left: 4em;
}

/*Completed*/

.stats h1 {color: slateblue;}
.stats button {
  background-color: rgb(36, 157, 168);
  margin: 1em;
  font-size: large;
  padding: 1em;
  color: white;
  font-weight: bold;
  border-radius: 4em;
}

.stats button:hover {
  background-color: white;
  color: rgb(36, 157, 168);
}
.stats h2 {
  color: rgb(36, 157, 168);
  margin-top: 3em;
}
.stats p {
  font-size: 1.25em;
}
.stats span {
  color: red;
}
#note-this {
  font-size: .75em;
  color: red;
}